header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "logo links";
}

.box bandcamp{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "bc1 bc2";
}

content{
    margin-left: 60px;
}

.wrapper{
    margin-right: 30px;
}

.split_bandcamp {
    grid-area: bc1;
    display: grid;
    align-content: center;
    grid-template-columns: 150px 200px 150px 100px;
    grid-template-rows: 37.5px 37.5px 37.5px 37.5px;
    grid-template-areas: 
        "split split2 joy joy2"
        "split split2 joy joy2"
        "split split2 joy joy2"
        "split split2 joy joy2";
    margin-left: 200px;
    margin-top: 50px;
}

#splitimg{
    grid-area: split;
    width: 150px;
    height: 150px;
    background: url(Content/split_bandcamp.jpg) no-repeat;
    opacity: 0.5;
}

#splitimg:hover{
    opacity: 1.0;
}

#ep_name {
    grid-area: split2;
    grid-row: 1/2;
    padding-left: 15px;
}

#year {
    grid-area: split2;
    grid-row: 3/4;
    margin-top: -25px;
    padding-left: 15px;
}


#joyimg{
    grid-area: joy;
    width: 150px;
    height: 150px;
    background: url(Content/joy_bandcamp.jpg) no-repeat;
    opacity: 0.5;
}

#joyimg:hover{
    opacity: 1.0;
}

#ep_name2 {
    grid-area: joy2;
    grid-row: 1/2;
    padding-left: 15px;
}

#year2 {
    grid-area: joy2;
    grid-row: 3/4;
    margin-top: -25px;
    padding-left: 15px;
}

body {
    background: #000;
    margin: 0;
}

.c p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

h1 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 9vw;
    text-align: center;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin-top: -12px
}

main {
    margin: 0 auto;
    width: 80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 20px;
}

a:hover { 
    text-decoration: underline; 
}

li {
    float: left;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 10% [repeat 10];
    grid-template-rows: 10% [repeat 10];
    background-color: #000;
}

.box {
    background-color: #000;
    color: #fff;
    padding: 20px;

}

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    border: 0;
    padding-top: 35px;
    margin-left: 30px;
}
.links {
    grid-column: 3/10;
    grid-row: 1/2;
    font-family: 'Lato', sans-serif;

}

.e a: hovered {
    text-decoration: underline;
}

.footer {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.footer img {
    padding: 2px
}