/* --------------------MAIN CSS-------------------- */

body {
    background: #000;
    margin: 0;
}

content{
    margin-left: 60px;
}

main {
    margin: 0 auto;
    width: 80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 20px;
}

a:hover { 
    text-decoration: underline; 
}

.p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 10% [repeat 10];
    grid-template-rows: 10% [repeat 10];
    background-color: #000;
    margin-right: 30px;
}

.box {
    background-color: #000;
    color: #fff;
    padding: 0px 20px 20px 20px;

}

/* --------------------H STYLES-------------------- */

h1 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 9vw;
    text-align: center;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin-top: -12px
}

/* --------------------HEADER CSS-------------------- */

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "logo links";
}

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    border: 0;
    padding-top: 35px;
    margin-left: 30px;
    background: url(Content/FA_logo_nav.png) no-repeat;
    width: 150px;
    height: 40px;
}
.links {
    grid-column: 3/10;
    grid-row: 1/2;
    font-family: 'Lato', sans-serif;

}

.current_page{
    background-color: #FFF;
    color: #000;
    padding: 5px 10px;
    margin: 15px;
}

.current_page:hover{
    text-decoration: none;
}

/* --------------------BANDCAMP-------------------- */

.box bandcamp{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "bc1 bc2";
}

.split_bandcamp {
    grid-area: bc1;
    display: grid;
    align-content: center;
    grid-template-columns: 150px 200px 150px 100px;
    grid-template-rows: 37.5px 37.5px 37.5px 37.5px;
    grid-template-areas: 
        "split split2 joy joy2"
        "split split2 joy joy2"
        "split split2 joy joy2"
        "split split2 joy joy2";
    margin-left: 200px;
    margin-top: 50px;
}

#splitimg{
    grid-area: split;
    width: 150px;
    height: 150px;
    background: url(Content/split_bandcamp.jpg) no-repeat;
    opacity: 0.5;
}

#splitimg:hover{
    opacity: 1.0;
}

#ep_name {
    grid-area: split2;
    grid-row: 1/2;
    padding-left: 15px;
}

#year {
    grid-area: split2;
    grid-row: 3/4;
    margin-top: -25px;
    padding-left: 15px;
}

#joyimg{
    grid-area: joy;
    width: 150px;
    height: 150px;
    background: url(Content/joy_bandcamp.jpg) no-repeat;
    opacity: 0.5;
}

#joyimg:hover{
    opacity: 1.0;
}

#ep_name2 {
    grid-area: joy2;
    grid-row: 1/2;
    padding-left: 15px;
}

#year2 {
    grid-area: joy2;
    grid-row: 3/4;
    margin-top: -25px;
    padding-left: 15px;
}

#line{
    border: solid;
    border-color: #FFF;
    border-width: 1px 0px 0px 0px;
    margin-top: 20px;
}

/* --------------------SPLIT SPOTIFY-------------------- */

.box spotify{
    display: grid;
    align-content: left;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "s1"
        "s2";
}

.split_spotify {
    grid-area: s1;
    display: grid;
    align-content: left;
    grid-template-columns: 320px 320px;
    grid-template-rows: repeat(8, 64px);
    grid-template-areas: 
        "ssplit info"
        "ssplit info"
        "ssplit plug"
        "ssplit plug"
        "ssplit plug"
        ". plug"
        ". plug"
        ". plug"
        ". plug";
    margin-top: 50px;
    margin-bottom: 10px;
}

#ssplitimg{
    grid-area: ssplit;
    grid-column: 1/2;
    grid-row: 1/6;
}

#sep_name {
    grid-area: info;
    grid-row: 1/2;
    padding-left: 15px;
}

#syear {
    grid-area: info;
    grid-row: 2/3;
    padding-left: 15px;
}

#plug {
    grid-area: plug;
    grid-column: 2/3;
    grid-row: 3/8;
    margin-top: -35px;
    padding-left: 15px;
}

/* --------------------JOY SPOTIFY-------------------- */

.joy_spotify {
    grid-area: s2;
    display: grid;
    align-content: left;
    grid-template-columns: 320px 320px;
    grid-template-rows: repeat(9, 64px);
    grid-template-areas: 
        "sjoy info2"
        "sjoy info2"
        "sjoy plug2"
        "sjoy plug2"
        "sjoy plug2"
        ". plug2"
        ". plug2"
        ". plug2"
        ". plug2";
}

#sjoyimg{
    grid-area: sjoy;
    grid-column: 1/2;
    grid-row: 1/6;
}

#sep_name2 {
    grid-area: info2;
    grid-row: 1/2;
    padding-left: 15px;
}

#syear2 {
    grid-area: info2;
    grid-row: 2/3;
    padding-left: 15px;
}

#plug2 {
    grid-area: plug2;
    grid-column: 2/3;
    grid-row: 3/9;
    margin-top: -35px;
    padding-left: 15px;
}

/* --------------------YOUTUBE CSS-------------------- */

.e {
    grid-area: youtube;
    display: grid;
    align-content: left;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 312px;
    grid-template-areas: 
        "title ylink"
        "video video";
    padding-top: 0px;
    margin-top: -70px;
    border: solid; 
    border-color: #FFF;
    border-width: 1px 0px 0px 0px;
}

#name{
    grid-area: title;
    grid-column: 1/2;
    grid-row: 1/2;
}

#ylink {
    grid-area: ylink;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 50px;
    margin-left: -40px;
}

#video {
    grid-area: video;
    grid-row: 2/3;
    margin-top: -60px;
}

.e a: hovered {
    text-decoration: underline;
}

/* --------------------FOOTER CSS-------------------- */

.footer{
    width: 100%;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "label . . . sm_links";
    padding: 10px 0px 10px 85px;
    margin-top: 10px;
    border: solid;
    border-color: #FFF;
    border-width: 1px 0px 0px 0px;
}

#label{
    grid-area: label;
    grid-column: 1/2;
}

#sm_links{
    grid-area: sm_links;
    grid-column: 5/6;
}

.footer img{
    margin: -10px;
}

.footer p{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer li {
    float: left;
}